.input-search {
  background-color: transparent;
  outline: none;
}

.input {
  background-color: rgba(128, 128, 128, 0.164);
}

.border-nav {
  border-bottom: 1px solid rgb(55, 55, 55);
}

.border-aktif {
  border-bottom: 4px solid rgb(7, 110, 255);
  color: white;
}

.border-1 {
  border-bottom: 1px solid rgb(37, 37, 37);
}

/* focus:border-b-4 mt-2 border-blue-700 focus:text-white */

/* sibebar */
.sidebar {
  left: -100%;
  animation-name: animasiSidebar;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes animasiSidebar {
  100% {
    left: 0;
  }
}

.sidebaroff {
  left: 0;
  animation-name: animasiSidebarOff;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes animasiSidebarOff {
  100% {
    left: -100%;
  }
}